
 /* placeholder for potential background image / texture

    body {

        background-image: url();
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
  
      }; */



      /* welcome form adjustments */

      form.add {
        margin-top: 50px;
        max-width: 200px !important;
        margin-left:auto;
        margin-right:auto;
        justify-content: center !important;
        
      }
    
          /* div customization with box shadow addition for all browsers */
    
    .divWelcome {
    
        justify-content: center !important;
        max-width: 350px !important;
        max-height: 350px !important;
        border-radius: 30px;
        background-color: #dfdfdf !important;
        margin-left:auto;
        margin-right:auto;
        padding: 2rem 1rem; 
        /* margin: 10px 10px 10px 10px auto !important; */
        -webkit-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        -moz-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        box-shadow:  0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
      
      }
      
      
      /* added class for centering within a container  */
      
      .vertical-center {
      
        max-width: 350px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        justify-content: center !important;
      
      }
      
      
      
      /* button adjustments + hover effect + form width control */
      
      .welcomeButtons {
       
        color: white !important;
        border-radius: 5px !important;
        padding: 5px 8px !important;
        background: black !important;
        border-color: black !important;
        
      }

      .welcomeButtons {

        background-color: black !important;
    } 
    
     .welcomeButtons:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: rgb(0, 0, 0)!important;
        border-color: black !important;
      
      }
    
      .formControl {
    
        max-width: 400px !important;
        margin-left:auto;
        margin-right:auto;
        justify-content: center !important;
        
      }
    
    
      /* resizes h1 font at 400px */
    
      @media screen and (max-width: 400px) {
        h2.responsiveH2Font {
          font-size: 8vw;
        }
      }