

      /* .responsiveImage {
    
        width: 100%;
        max-width: 800px;
        height: auto;
        margin-bottom: 10px;
    
    } */
    


      .maxContainerWidth {

        max-width: 1025px !important;

      }

      .jumbotronStyle {

        background-color: rgb(216, 216, 216) !important;
        justify-content: center !important;
        border-radius: 15px;
        align-items: center !important;
        text-align: center !important;
        padding: 10px !important;
        -webkit-box-shadow: 0 5px 6px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        -moz-box-shadow: 0 5px 6px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        box-shadow:  0 5px 6px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        
    
    }
    
    
    h1, form {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        margin-bottom: 15px !important;
    }
    
    .centerText {

      text-align: center !important;

    }
    
    
    .card {

      margin-bottom: 30px !important;  
      border-color: #D8D8D8 !important;
      
    }
    .card-body {

        text-align: center !important;
        min-height: 125px !important;
        max-height: 125px !important;
        overflow-y: auto !important;
        
    }

    .card-footer {

        text-align: right !important;
        background-color: white !important;
        border-color: #D8D8D8!important;
    }

    .card-header {

      background: #D8D8D8 !important;
      color: black !important;
    }

    .priceLeft {

        text-align: left !important;
    }

    .formControlSizing {

        max-width: 250px !important;
    }
    .modalButtons {
        background-color: black !important;
    } 
    
     .modalButtons:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: rgb(0, 0, 0)!important;
        border-color: black !important;
      
      }
    
      .textAlign {
    
        text-align: center !important;
        align-content: center !important;
      }
    
      .white {
    
        color: white !important;
    
      }
    
      /* MEDIA QUERY FOR INPUT AREA */
    
      @media screen and (min-width:287px) {
    
        .regularInput{
      
          width: 275px !important;
      
        }
      }
      
      
      @media screen and (max-width:286px) {
      
        .responsiveInput{
      
          width: 240px !important;
      
        }
      }

      /* MEDIA QUERY FOR BUTTON BELOW FORM */

      @media screen and (min-width:287px) {
    
        .regularButton{
      
          width: 275px !important;
      
        }
      }
      
      
      @media screen and (max-width:286px) {
      
        .responsiveButton{
      
          width: 240px !important;
      
        }
      }
    
    
        /* MEDIA QUERY FOR H3 "MENU" TEXT */
    
      @media screen and (max-width:340px) {
      
        .responsiveText{
      
          font-size: 24px !important;
      
        }
      }
    
      @media screen and (max-width:290px) {
      
        .responsiveText{
      
          font-size: 18px !important;
      
        }
      }


      /* MEDIA QUERIES FOR THE CARD COLUMN BREAKPOINTS */

      @media (min-width: 36em) {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
    

    @media (min-width: 40em) {
      .card-columns {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
      }
  }


    @media (min-width: 48em) {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }
    
    @media (min-width: 54em) {
      .card-columns {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
  }






      