
 /* placeholder for potential background image / texture

    body {

        background-image: url();
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
  
      }; */

      /* hiding the number arrows on the input field */

      /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

      /* welcome form adjustments */

      form.add {
        margin-top: 50px;
        max-width: 200px !important;
        margin-left:auto;
        margin-right:auto;
        justify-content: center !important;
        
      }
    
          /* div customization with box shadow addition for all browsers */
    
    .divAddTable {
    
        justify-content: center !important;
        background-color: #dfdfdf !important;
        max-width: 350px !important;
        max-height: 350px !important;
        border-radius: 30px !important;
        margin-left:auto;
        margin-right:auto;
        padding: 2rem 1rem; 
        padding-bottom: 56px !important;
        /* margin: 10px 10px 10px 10px auto !important; */
        -webkit-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        -moz-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        box-shadow:  0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
      
      }
      
      .centerTextAddTable {

        text-align: center !important;
  
      } 
      
      /* added class for centering within a container  */
      
      .vertical-center {
      
        max-width: 350px !important;
        margin-left:auto !important;
        margin-right:auto !important;
        justify-content: center !important;
      
      }
      
      
      
      /* button adjustments + hover effect + form width control */
      
      .addNewTableButton {
       
        color: white !important;
        border-radius: 5px !important;
        padding: 5px 8px !important;
        background: black !important;
        
      }

      .addNewTableButton {
          
        background-color: black !important;
    } 
    
     .addNewTableButton:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: rgb(0, 0, 0)!important;
        border-color: black !important;
      
      }
    
      .formControl {
    
        max-width: 400px !important;
        margin-left:auto;
        margin-right:auto;
        justify-content: center !important;
        
      }
    
      .centerText {
        margin-left:auto !important;
        margin-right:auto !important;
        text-align: center !important;
      }

    
      /* resizes h1 font at 400px */
    
      @media screen and (max-width: 400px) {
        h2.responsiveH2Font {
          font-size: 8vw;
        }
      }