.Navbar, .navbar, nav {

    padding-top: 4px !important;
    padding-bottom: 4.8px !important; 
    background: black !important;
    background-color: #000000 !important;

}

.navbar-brand {

    font-size: 16.5px !important;
    padding-bottom: 3px !important;

}

.invisibleTrickery {

    color: black !important;
}

.redFont {

    color: #DC3545!important;
    margin-left: 1px !important;

}

.whiteFont {
    color: white;
}

.nav-item {

    color: rgb(190, 190, 190);
    margin-left: auto !important;

}


.pointer-link { 

    cursor: pointer; 
    
  } 
