
 /* placeholder for potential background image / texture

    body {

        background-image: url();
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: black;
  
      }; */



      /* login margin adjustment */

      /* form.menuImport {
        margin-top: 50px;
      } */

      .viewDeleteMenuButtons {
       
        color: white !important;
        border-radius: 5px !important;
        padding: 5px 8px !important;
        background: #DC3545 !important;
        
      }

      .viewDeleteMenuButtons {

        background-color: #DC3545 !important;
    } 
    
     .viewDeleteMenuButtons:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: #DC3545!important;
        border-color: #DC3545 !important;
      
      }

      .tableViewButtons {
       
        color: white !important;
        border-radius: 5px !important;
        padding: 5px 8px !important;
        background: black !important;
        
      }

      .tableViewButtons {
        background-color: black !important;
    } 

      .menuEditButtons {
        background-color: black !important;
    } 
    
     .menuEditButtons:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: rgb(0, 0, 0)!important;
        border-color: black !important;
      
      }

      /* removing a table row via "x" */

      .removeRow {
        color: #ff1744;
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 20px;
        cursor: pointer;
      }
      
      .removeRow:hover {
        color: #8d0000;
        font-size: 20px;
      }

      .centeredCourseNumber {

        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: auto !important;
        margin-bottom: auto !important;

      }

      .deleteFont {

        color: #ff1744 !important;
        text-align: center !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: auto !important;
        margin-bottom: auto !important;


      }

      .tableBlackGround {

        background-color: black !important;

      }
    
          /* jumbotron customization with box shadow addition for all browsers */
    
    .importMenuJumbotron {
    
        justify-content: center !important;
        background-color: #dfdfdf !important;
        padding: 34px 14px !important;
        border-radius: 40px;
        -webkit-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        -moz-box-shadow: 0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
        box-shadow:  0 8px 9px rgb(201, 201, 201), 0 8px 9px rgb(201, 201, 201);
      
      }
      
      
      /* added class for centering within a container (currently for login/signup) */
      
      .vertical-center {
      
        max-width: 650px !important;
        justify-content: center !important;
      
      }
      
      
      

      
      /* button adjustments + hover effect + form width control */

      .importMenuButton {
       
        color: white !important;
        border-radius: 5px !important;
        padding: 5px 8px !important;
        background: black !important;
        border-color: black !important;
        
      }

      .importMenuButton {
          
        background-color: black !important;
    } 
    
     .importMenuButton:hover {
    
        background: #ffffff !important;
        transition: all 0.35s ease-in-out !important;
        color: rgb(0, 0, 0)!important;
        border-color: black !important;
      
      }
      
    
      .formControl {
    
        max-width: 400px !important;
        margin-left:auto;
        margin-right:auto;
        justify-content: center !important;
        
      }
    

      /* resizes h1 font at 400px */
    
      @media screen and (max-width: 400px) {
        h4.responsiveH2Font {
          font-size: 12vw;
        }
      }